<ion-view view-title="Sign in">
  <ion-content>
    <div class="container">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name">
            </label>
          </div>
         <div align="center"> 
              <button class="button button-balanced" style="width:90%;">
                Login
              </button>
          </div>    
    </div>      
  </ion-content>
</ion-view>